/* -----PERFIL---- */
#profile-container{
    font-family: var(--main-font-family);
    color: white;
    min-height: 110vh;
    width: 75vw;
    margin-top: 5em;
    padding: 0 2em;
    background: linear-gradient(to bottom, #8eb3ae77, #8eb3ae6a);
}
.profile-input{
    background-color: #8eb3ae !important;
    color: white !important; 
}
.profile-input::placeholder{
    color: rgba(255, 255, 255, 0.604) !important;
}
.profile-input:focus, .profile-input:focus-visible{
    box-shadow: 0 0 10px 3px var(--light-title-color-1)!important;
    outline: none !important;
    border: none !important;
}
.profile-form-buttons > *{
    padding: .4em 1em;
}
#delete-account-control{
    margin-top: .5em;
}
#delete-account-password{
    width: 40%;
}
#delete-user-btn{
    padding: .4em 1em;
    overflow: hidden;
    border-radius: 15px !important;
    outline: none;
    border: none;
    background-color: #c90000;
    color: white;
    transition: .4s;
}
#delete-user-btn:hover{
    box-shadow: 0 0 5px 1px #c90000;
}
.hidden{
    display: none !important;
}